<div class="cuerpo">
    <div id="contenedortit">
        <img src="../../assets/imagenes/peliculas.png" />
    </div>
        <div class="cont">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let filmobj of filteredFilmList; let i=index" >
                  <mat-expansion-panel-header>
                    <img class="peliculaperfil" src="../../assets/imagenes/personajesperfil.png" /> 
                    {{i+1}} : {{filmobj.title}}
                  </mat-expansion-panel-header>
                  <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar ></div>
                      <mat-card-title>{{filmobj.title}}</mat-card-title>
                      <mat-card-subtitle>Espisodio:{{filmobj.episode_id}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Rastreo de apertura: {{filmobj.opening_crawl}} <br>
                        Director:  {{filmobj.director}} <br>
                        Productor:  {{filmobj.producer}} <br>
                        Fecha de lanzamiento:  {{filmobj.release_date}} <br>
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                  </mat-card>
                </mat-expansion-panel>
              
            </mat-accordion>
            <div class="controles">
                <button mat-button (click)="getFilms(actual-1)"><span class="material-icons">
                    arrow_back_ios
                    </span>Anterior</button>
                <label class="label">Página: {{actual}}</label>
                <button mat-button (click)="getFilms(actual+1)" >Siguiente <span class="material-icons">
                    arrow_forward_ios
                    </span></button>
            </div>
        </div>
</div>
      