<div class="cuerpo">
    <div id="contenedortit">
        <img src="../../assets/imagenes/personajes.png" />
    </div>
    <div class="cont" style="display: grid;">
      <button style="float: right;" mat-flat-button color="primary" (click)="open(content)" >Buscar un personaje</button>
    </div> 
    
    <div class="cont">
       <mat-accordion>
            <mat-expansion-panel *ngFor="let personobj of filteredPersonList; let i=index" >
              <mat-expansion-panel-header>
                <img class="personajaperfil" src="../../assets/imagenes/personajesperfil.png" /> 
                <span style="vertical-align: middle;">{{personobj.name}}</span>
              </mat-expansion-panel-header>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar style="background-image: url('../../assets/imagenes/personajesperfil.png');
                  background-size: cover;"></div>
                  <mat-card-title>{{personobj.name}}</mat-card-title>
                  <mat-card-subtitle><strong>Fecha de nacimiento:</strong> {{personobj.birth_year}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <strong>Color de ojos:</strong> {{personobj.eye_color}} <br>
                    <strong>Género:</strong>  {{personobj.gender}} <br>
                    <strong>Color de cabello:</strong>  {{personobj.hair_color}} <br>
                    <strong>Altura:</strong>  {{personobj.height}} <br>
                    <strong>Peso: </strong> {{personobj.mass}} <br>
                    <strong>Color de piel:</strong>  {{personobj.skin_color}} <br>
                  </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
            </mat-expansion-panel>
          
        </mat-accordion>
        <div class="controles">
            <button class="controlboton" mat-button (click)="getPerson(actual-1)"><span class="material-icons">
                arrow_back_ios
                </span>Anterior</button>
            <label class="controlboton" class="label">Página: {{actual}}</label>
            <button mat-button (click)="getPerson(actual+1)" >Siguiente <span class="material-icons">
                arrow_forward_ios
                </span></button>
        </div>
    </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Personaje</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Personaje</label>
        <div class="input-group">
          <input id="dateOfBirth"  type="search" class="form-control" [(ngModel)]='busqueda'  placeholder="Nombre del personaje" name="dp">
          <div class="input-group-append">
            <button mat-button (click)="getOnePerson(1)"  type="button">
              <span class="material-icons">
                search
                </span>
            </button>
          </div>        
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let personobj2 of filteredPersonList2; let i=index" >
            <mat-expansion-panel-header>
              <img class="personajaperfil" src="../../assets/imagenes/personajesperfil.png" /> 
              {{personobj2.name}}
            </mat-expansion-panel-header>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar style="background-image: url('../../assets/imagenes/personajesperfil.png');
                background-size: cover;"></div>
                <mat-card-title>{{personobj2.name}}</mat-card-title>
                <mat-card-subtitle><strong>Fecha de nacimiento:</strong> {{personobj2.birth_year}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  <strong>Color de ojos:</strong> {{personobj2.eye_color}} <br>
                  <strong>Género: </strong>  {{personobj2.gender}} <br>
                  <strong>Color de cabello: </strong>  {{personobj2.hair_color}} <br>
                  <strong>Altura: </strong> {{personobj2.height}} <br>
                  <strong>Peso: </strong>  {{personobj2.mass}} <br>
                  <strong>Color de piel: </strong> {{personobj2.skin_color}} <br>
                </p>
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="controles">
            <button class="controlboton" mat-button (click)="getOnePerson(actual2-1)"><span class="material-icons">
                arrow_back_ios
                </span>Anterior</button>
            <label class="controlboton" class="label">Página: {{actual2}}</label>
            <button mat-button (click)="getOnePerson(actual2+1)" >Siguiente <span class="material-icons">
                arrow_forward_ios
                </span></button>
        </div>
      </div>

    </form>
  </div>
</ng-template>
  