<div class="cuerpo">
    <div id="contenedortit">
        <img src="../../assets/imagenes/personajes.png" />
        <mat-form-field class="example-full-width">
            <mat-label>Buscar un personaje</mat-label>
            <input type="search" matInput placeholder="Nombre del personaje"/>
        </mat-form-field>
    </div>
    <div class="cont">
    <table>
        <tbody>
            <tr>
                <td>
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Fecha de nacimiento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Altura:   Género: <br>
                            Color de ojos: <br>
                            Color de cabello: <br>
                            Masa: <br>
                            Color de piel: <br>
                        </p>
                        <p>
                            Idioma: <br>
                            Planeta en que habita: <br>
                            Personajes que pertenecen a esta especie: <br>
                            Películas en las que aparece esta especie: <br>
                            Naves que ha manejado: <br>
                            Vehículos que ha manejado: <br>
                        </p>
                        </mat-card-content>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Fecha de nacimiento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Altura:   Género: <br>
                            Color de ojos: <br>
                            Color de cabello: <br>
                            Masa: <br>
                            Color de piel: <br>
                        </p>
                        <p>
                            Idioma: <br>
                            Planeta en que habita: <br>
                            Personajes que pertenecen a esta especie: <br>
                            Películas en las que aparece esta especie: <br>
                            Naves que ha manejado: <br>
                            Vehículos que ha manejado: <br>
                        </p>
                        </mat-card-content>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Fecha de nacimiento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Altura:   Género: <br>
                            Color de ojos: <br>
                            Color de cabello: <br>
                            Masa: <br>
                            Color de piel: <br>
                        </p>
                        <p>
                            Idioma: <br>
                            Planeta en que habita: <br>
                            Personajes que pertenecen a esta especie: <br>
                            Películas en las que aparece esta especie: <br>
                            Naves que ha manejado: <br>
                            Vehículos que ha manejado: <br>
                        </p>
                        </mat-card-content>
                    </mat-card>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Fecha de nacimiento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Altura:   Género: <br>
                            Color de ojos: <br>
                            Color de cabello: <br>
                            Masa: <br>
                            Color de piel: <br>
                        </p>
                        <p>
                            Idioma: <br>
                            Planeta en que habita: <br>
                            Personajes que pertenecen a esta especie: <br>
                            Películas en las que aparece esta especie: <br>
                            Naves que ha manejado: <br>
                            Vehículos que ha manejado: <br>
                        </p>
                        </mat-card-content>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Fecha de nacimiento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Altura:   Género: <br>
                            Color de ojos: <br>
                            Color de cabello: <br>
                            Masa: <br>
                            Color de piel: <br>
                        </p>
                        <p>
                            Idioma: <br>
                            Planeta en que habita: <br>
                            Personajes que pertenecen a esta especie: <br>
                            Películas en las que aparece esta especie: <br>
                            Naves que ha manejado: <br>
                            Vehículos que ha manejado: <br>
                        </p>
                        </mat-card-content>
                    </mat-card>
                </td>
                <td>
                    <mat-card class="example-card">
                        <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre</mat-card-title>
                        <mat-card-subtitle>Fecha de nacimiento</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        <p>
                            Altura:   Género: <br>
                            Color de ojos: <br>
                            Color de cabello: <br>
                            Masa: <br>
                            Color de piel: <br>
                        </p>
                        <p>
                            Idioma: <br>
                            Planeta en que habita: <br>
                            Personajes que pertenecen a esta especie: <br>
                            Películas en las que aparece esta especie: <br>
                            Naves que ha manejado: <br>
                            Vehículos que ha manejado: <br>
                        </p>
                        </mat-card-content>
                    </mat-card>
                </td>
            </tr>
    </table>
    </div>
</div>
  