<div class="cuerpo">
    <div class="contenedor">
        
        <img src="../../assets/imagenes/titulopagina.png" >
        <br>
        <div class="pp">
            <p>
                Bienvenido  a star wars info, una página donde podrás encontrar<br>
                toda la informacón de tus peliculas y personajes favoritos del universo star wars.<br>
                ¿Eres el fan #1?, pues para averiguarlo empecemos esta aventura. <br>
                Te apuesto que encontraras información muy valiosa
            </p>
        </div>   
        
    </div>
       
</div>